*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.content {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr;
  gap: 30px;
  align-items: end;
  inline-size: 1140px;
  margin: 0 auto;
}
.result {
  grid-column: 1;
  grid-row: 1 / -1;
}
.content_details {
  grid-column: 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.content_list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
}
.content_list::-webkit-scrollbar {
  width: 4px;
}
.content_list::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}
.content_list::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.result_video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}
.result_video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.content_list-item {
  margin-block-end: 30px;
  padding: 0 3px;
}
.content_list-item:last-child {
  margin-block-end: 0;
}
.content_video-card {
  display: flex;
  align-items: flex-start;
}
.content_video-card-description-container {
  flex-grow: 1;
}
.content_video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  margin-inline-start: 5px;
  object-fit: cover;
  object-position: center;
}
.search-form_fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-block-end: 5px;
}
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}
.content_accent {
  color: #545050;
}
.content_card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.content_video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content_video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.search-form_fieldset {
  border: none;
  flex-grow: 1;
}
.search-form_checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form_label {
  display: flex;
  align-items: center;
  inline-size: fit-content;
  cursor: pointer;
}
.search-form_label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form_label-text {
  margin-inline-start: 5px;
}
.search-form_label:hover .search-form_label-text {
  text-decoration: underline;
}
.search-form_textfield {
  min-inline-size: 225px;
  padding: 2.5px 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  appearance: none;
}
.search-form_textfield:focus {
  outline: none;
}
.search-form_pseudo-checkbox {
  position: relative;
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}
.search-form_checkbox:checked + .search-form_pseudo-checkbox::after {
  content: '';
  position: absolute;
  inset-block-start: 1px;
  inset-inline-start: 1px;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}
.button {
  padding: 6px 73.5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form_submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
}
.more-button {
  inline-size: 100%;
  padding: 6px;
}
.content_card-link:hover {
  text-decoration: underline;
}
.content_card-link:active {
  background-color: #545050;
}
.content_card-link:focus {
  outline: none;
}
.content_card-link:focus-visible {
  outline: 1px solid #fff;
}
.content_card-link_current {
  background-color: #545050;
}
.button,
.content_card-link,
.search-form_label {
  cursor: pointer;
}
.preloader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
